/* Cấu trúc Header */
.header-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d5db;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Cấu trúc của người dùng */
.header-user {
  display: flex;
  align-items: center;
}

.header-user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.header-user__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Tab List */
.tabs-list {
  padding: 10px 0;
  list-style: none;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: auto;
}

.nav-item {
  background-color: #71717a;
  color: #fff;
}

.nav-link {
  padding: 8px 16px;
}

.nav-link:hover {
  color: red;
}

/* Form đăng nhập */
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

/* Chế độ sáng/tối cho body */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

/* Styles cho button */
button {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

/* Styles cho nút chuyển chế độ sáng/tối */
#toggleButton {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s;
}

#toggleButton:hover {
  background-color: #45a049;
}